html {
  font-size: 16pt;
  font-family: 'Archivo Narrow', sans-serif;

}

body {
  margin: 0; /*self centers*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-row: 1fr;
  overflow: hidden;
}

body div {
}

h1 {
  color: rgba(68, 68, 68, 0.6);
  font-weight: 700;
  margin: 0;
}

hr {
  color: rgb(70, 70, 70, .3);
}

p {
  padding: 1rem;
}

div.image {
  background: blue;
}

article {
  padding: 1rem;
  background: linear-gradient(to bottom, #f6fed3 , white, white);
  color: rgb(62, 50, 0, .8);
}

footer {
  padding-left: 10px;
  text-align: left;
  padding-bottom: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;

}

nav a {
  font-size: 10px;
  text-decoration: none;
  color: rgba(#787878)
}
