html {
  font-size: 16pt;
  font-family: 'Archivo Narrow', sans-serif;

}

body {
  margin: 0; /*self centers*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-row: 1fr;
  overflow: hidden;
}

h1 {
  color: rgba(68, 68, 68, 0.6);
  font-weight: 700;
  margin: 0;
}

hr {
  color: rgb(70, 70, 70, .3);
}

p {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

div.image1 {
  background:url("../images/GettyImages-200415242-001-56a520325f9b58b7d0daf222.jpg") center no-repeat; background-size: cover;
  background-size: cover;
  height: 100vh;
}
div.image2 {
  background:url("../images/Honey_Bees.jpg") center no-repeat; background-size: cover;
  background-size: cover;
  height: 100vh;
}
div.image3 {
  background:url("../images/giantHoneyBee.jpg") center no-repeat; background-size: cover;
  background-size: cover;
  height: 100vh;
}
div.image4 {
  background:url("../images/apisFlorea.jpg") center no-repeat; background-size: cover;
  background-size: cover;
  height: 100vh;
}
div.image5 {
  background:url("../images/flowHive.jpg") center no-repeat; background-size: cover;
  background-size: cover;
  height: 100vh;
}
div.image6 {

  height: 100vh;
}
div.image7 {
  background:url("../images/blueBandedBee.jpg") center no-repeat; background-size: cover;
  background-size: cover;
  height: 100vh;
}
div.image8 {
  background:url("../images/nativeBeeClose.jpg") center no-repeat; background-size: cover;
  background-size: cover;
  height: 100vh;
}
div.image9 {
  background:url("../images/nativeBees2.jpg") center no-repeat; background-size: cover;
  background-size: cover;
  height: 100vh;
}
div.image10 {
  background:url("../images/spiralBrood.jpg") center no-repeat; background-size: cover;
  background-size: cover;
  height: 100vh;
}
div.image11 {
  background:url("../images/bumblebee.png") center no-repeat; background-size: cover;
  background-size: cover;
  height: 100vh;
}
div.image12 {
  background:url("../images/killerbee.jpg") center no-repeat; background-size: cover;
  background-size: cover;
  height: 100vh;
}
div.image13 {
  background:url("../images/honeypots.jpg") center no-repeat; background-size: cover;
  background-size: cover;
  height: 100vh;
}
div.image14 {
  background:url("../images/beetongue.jpg") center no-repeat; background-size: cover;
  background-size: cover;
  height: 100vh;
}
div.image15 {
  background:url("../images/nativebeehive.jpg") center no-repeat; background-size: cover;
  background-size: cover;
  height: 100vh;
}
div.image16 {
  background:url("../images/IMG_9597.jpg") center no-repeat; background-size: cover;
  background-size: cover;
  height: 100vh;
}
div.image17 {
  background:url("../images/whitesquare.jpg") center no-repeat; background-size: cover;
  background-size: cover;
  height: 100vh;
}

article {
  padding: 1rem;
  background: linear-gradient(to bottom, #f6fed3 , white, white);
  color: rgb(62, 50, 0, .8);
}

footer {
  padding-left: 10px;
  text-align: left;
  padding-bottom: 10px;
  position: fixed;
  bottom: 0;
  font-size: 10pt;
}

nav {
  background: rgba(250, 246, 161, 0.4);
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
}

nav a {
  font-size: 10px;
  text-decoration: none;
  color: rgba(#787878)
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /*16:9*/
  padding-top: 8%;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: auto;
  left: 0;
  width: 100%;
  height: 100%;
}
