* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16pt;

}

body {
  margin: 0; /*self centers*/
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 25px;
  overflow: hidden;
  background: rgb(29, 29, 29);
  height: 100vh;
}

h1 {
  font-family: 'Archivo Narrow', sans-serif;
  color: rgba(213, 76, 203, 1);
  margin: 0;
  padding-bottom: 9px;
}

hr {
  border:none;
  height: 20px;
	height: 50px;
	margin-top: 0;
	border-bottom: 1px solid #dd2ea5;
	box-shadow: 0 20px 20px -20px #dd2ea5;
  margin: -40px auto 10px;
}

p {
  padding-top: 1rem;
  padding-bottom: 1rem;

}

div img {
  flex: 1;
  height: 100%;
  object-fit: cover;
}

div.image {
  grid-column: 1/4;
  grid-row: 1/3;
  display: flex;
  width: 100%;
  height: 100%;

}

article {
  font-family: 'Archivo Narrow', sans-serif;
  border-left: 5px solid #f4e521;
  padding: 1rem;
  background: rgb(29, 29, 29);
  color: rgba(46, 198, 213, 0.76);
  height: 100%;
}

footer {
  align-self: flex-end;
  border-left: 5px solid #f4e521;

  grid-column: 4/5;
  grid-row: 2/3;
  height: 100%;
  align-content: space-around;
  /* padding-bottom: 5px; */
  padding-left: 15px;
  padding-right: 10px;
  font-size: 10pt;
  background: rgb(29, 29, 29);
}

nav {
  background: rgba(213, 76, 203, .3);
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
}

nav a {
  font-size: 10px;
  text-decoration: none;
  color: #787878;
}

a:link {
  color: #f4e521;
}
a:visited {
  color: #f4e521;
}
a:hover {
  color:  rgba(213, 76, 203, 1)
}
a:active {

}

video {
  width: 100%;
}

.video-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* position: relative; */
  /* padding-bottom: 56.25%; */
  /* padding-top: 8%; */
  /* height: 0; */
  /* overflow: hidden; */
}
